<h3>Indice de URLs: Manejo de parámetros</h3>
<a asp-controller="Ejemplo3" asp-action="Prueba2" asp-route-id="123">Hacia Prueba 2</a>
<a asp-controller="Ejemplo3" asp-action="Prueba3" asp-route-id1="123" asp-route-id2="456">Hacia Prueba 3</a>