@{
    Layout = "~/Views/Shared/_MiLayoutPrincipal.cshtml";
}

@section head {
    <link href="~/css/estilos.css" rel="stylesheet" type="text/css"/>
}

<h2 class="titulo">Página Acerca de nosotros...</h2>