@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}
Esto es del ejemplo de sesiones: @Context.Session.GetString("usu") <br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<a asp-controller="Ejemplo1" asp-action="PasandoDatosObjeto"> Ejemplo: Pasando un objeto desde el controlador a la vista</a>
<br />
<a asp-controller="Ejemplo1" asp-action="PasandoDatosListaObjetos"> Ejemplo: Pasando lista de objetos desde el controlador a la vista</a><br />
<a asp-controller="Ejemplo2" asp-action="Index"> Ejemplo: Usando appsettings.json</a><br />
<a asp-controller="Ejemplo3" asp-action="Index"> Ejemplo: Rutas con parámetros</a><br />
<a asp-controller="Ejemplo3" asp-action="Prueba4"> Ejemplo: Rutas con Query Strings</a>
<br />
<a asp-controller="Formulario" asp-action="Index"> Ejemplo: formulario</a>
<br />
<a asp-controller="Archivo" asp-action="index2">Ejemplo: Formulario (manejo de multiples archivos y validación)</a><br />
<a asp-controller="Login" asp-action="Index">Ejemplo uso de sesiones: Login</a><br />
<a asp-controller="Sesiones" asp-action="EjemploCarrito">ejemplo de sesiones: carrito</a><br />
<a asp-controller="Layouts" asp-action="Home">Ejemplo Layouts</a><br />
<a asp-controller="ajax" asp-action="Index">Ejemplo de uso de Ajax</a><br />
<a asp-controller="ddbb" asp-action="Index">Ejemplo de entityFramework (DDBB)</a>
