@model MiAplicacion.Models.Producto

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Modificacion de producto (DDBB)</h3>
                </div>

                <div class="card-body">
                    <form method="post" asp-controller="ddbb" asp-action="Modificar">

                        <div class="mb-3">
                            <label asp-for="Id" class="form-label">Código</label>
                            <input asp-for="Id" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Precio" class="form-label"></label>
                            <input asp-for="Precio" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cantidad" class="form-label"></label>
                            <input asp-for="Cantidad" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Foto" class="form-label"></label>
                            <input asp-for="Foto" class="form-control" placeholder="Ejemplo: producto.jpg" />
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">
                                Modificar
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>